.noProfile {
    background: gray;
    height: 100px;
    border-radius: 50px;
}

.no-input {
	width: 100%;
	background: gray;
	display: inline-block;
	height: 30px;
	border-bottom: 1px solid;
	margin-top: 13px;
}

.noMinRange, .noMaxRange {
    height: 34px;
    background: gray;
}

.disableReq {
    background: red !important;
    cursor: not-allowed !important;
}