.list-requests {
	width: calc(100% - 20px);
	padding: 0 10px;	
}

.singleReq {
	width: 100%;
	border-bottom: 1px solid gray;
	margin-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
	font-size: 20px;

    .singlePhoto {
		width: 65px;
		float: left;

	    img {
	    	width: 100%;
			border-radius: 50px;
	    }
	}

	.singleName {
	    width: calc(20% - 40px);
	    float: left;
	    text-align: left;
	    margin: 0 20px;
	    padding: 20px 0;
	}

	.singleDesc {
	    width: calc(80% - 330px);
	    float: left;
	    padding: 20px 0;
	    word-break: break-all;
	}

	.singleRange {
	    width: 115px;
	    float: left;
	    display: inline-block;
	    padding: 20px 0;
	    text-align: center;
	    margin: 0 30px;
	}

	.connectBtn {
		margin-top: 10;
		background: green;
	}
}